<h3 class="card-header">Reseteando Contraseña</h3>
<div class="card-body">
    <div *ngIf="tokenStatus == TokenStatus.Validating">
        Validando token...
    </div>
    <div *ngIf="tokenStatus == TokenStatus.Invalid">
        Validación de Token ha fallado, si token a expirado puede conseguir uno en <a routerLink="../forgot-password">página de Olvidó</a> Contraseña.
    </div>
    <form *ngIf="tokenStatus == TokenStatus.Valid" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Contraseña es requerida</div>
                <div *ngIf="f.password.errors.minlength">Contraseña debe de ser por lo menos de 6 caracteres</div>
            </div>
        </div>
        <div class="form-group">
            <label>Confirmar Contraseña</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirmar Contraseña es requerida</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Contraseñas deben de ser iguales</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Resetear Contraseña
            </button>
            <a routerLink="../login" class="btn btn-link">Cancelar</a>
        </div>
    </form>
</div>